<section id="nosotros">
    <div class="bg-primary overflow-hidden h-screen md:h-[700px]">
        <div class="flex flex-col md:flex-row w-full h-full">
            <div class="basis-2/4 py-5 px-10 flex flex-col justify-center">
                <h2 class="text-white text-6xl font-bold mb-5">Sobre Nosotras</h2>
                <p class="text-white">
                    Transformamos espacios en ambientes vivos, llevamos amor a través de cada planta y ofrecemos servicios personalizados que conectan personas y empresas con la naturaleza
                </p>
            </div>
            <div class="basis-2/4 bg-[url('/src/assets/nosotros.png')] bg-cover bg-right h-full min-h-96">
            </div>
        </div>
    </div>
</section>